<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>board</title>
</head>
<body>
<h1>게시물 수정</h1>
<form action="/save" method="post">
  <input type="hidden" name="id" th:value="${board.id}">
  <label for="username">작성자:</label>
  <input type="text" name="username" id="username" th:value="${board.username}" readonly><br><br>
  <label for="title">제목:</label>
  <input type="text" name="title" id="title" th:value="${board.title}"><br><br>
  <label for="content">내용:</label><br>
  <textarea name="content" id="content" cols="30" rows="10" th:text="${board.content}"></textarea><br><br>
  <input type="submit" value="수정">
  <button onclick="cancel()">취소</button>
</form>

<script>
  function cancel() {
    location.href = "/paging";
  }
</script>
</body>
</html>
