<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 모달 창 -->
<<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="editCommentInput"><input type="text" id="editCommentInput" class="form-control" placeholder="댓글 내용"></label>
        <button onclick="updateComment()" class="btn btn-primary mt-2">수정 완료</button>
    </div>
</div>
<script th:inline="javascript">
    const updateComment = () => {
        const modal = document.getElementById("editModal");
        const commentId = modal.getAttribute("data-comment-id");
        const editedComment = document.getElementById("editCommentInput").value;
        $.ajax({
            type: "POST",
            url: "/comment/update",
            data: {
                "id": commentId,
                "contents": editedComment
            },
            success: function (res) {
                console.log("댓글 수정 성공", res);
                // 수정 성공 시 댓글 목록 갱신 및 모달 닫기 등의 동작 추가 가능
                getCommentList(); // 댓글 목록 갱신 함수 호출
                modal.style.display = "none"; // 모달 닫기
            },
            error: function (err) {
                console.log("댓글 수정 실패", err);
            }
        });
    }
</script>
</body>
</html>

